* {
    /* font-family: 'helvetica'; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    line-height: 20px;
}

a:visited {
    color: #000000;
}

body {
    background-color: #FFFFFF;
    margin: 0;
}

.container {
    margin: 0;
}

.linkedimg {
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.linkedimg img {
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;

}

.linkedimg:hover img {
    transform: scale(1.1);
    filter: brightness(60%);
}

.linkedimg:hover .linkedtext {
    visibility: visible;
}

.linkedtext {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #ffffff;
    top: 45%;
    left: 40%;
    visibility: hidden;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flexalign {
    display: flex;
    align-items: center;
}

.logo {
    height: 39.91px;
    position: relative;
    margin-right: 30px;
}

.padding10 {
    padding: 10px;
}

.header {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.main {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.topic {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.video {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding-top: 50px;
}

.footer {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 30px 0;
    margin-top: 20px;
}

.navbarcontainer {
    background-color: #fafafa;
}

.navbar {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    padding: 30px 0px;
    align-items: center;
    margin-bottom: 20px;
}

.navbarphone {
    display: flex;
    align-items: center;
}

.navbarbutton {
    border-left: 1px solid rgba(0, 0, 0, .05);
    padding: 15px 20px;
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.menuDropdown {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    height: 22px;
    /* font-weight: 900; */
}

.menuextralink {
    display: flex;
    color: #000000;
}

.extralinkbox {
    padding-right: 10px;
    font-size: 12px;
    margin-left: 20px;
}

.extralinktext {
    font-size: 18px;
    padding-left: 5px;
    margin: 0;
}

.extralinkicon {
    display: flex;
    margin: 0;
    align-items: center;
    padding-top: 0;
}

.textgreen {
    color: #2adb00;
    font-size: 18px;
    margin: 0;
}

.headernews {
    display: flex;
    flex-direction: row-reverse;
    background: rgb(244, 244, 244);
    background: linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgba(250, 250, 250, 1) 60%);
    margin-top: 0px;
    align-items: center;
    border-radius: 10px;
}

.headernewstitle {
    width: 50%;
    padding-left: 40px;
}

.headertitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 26px;
    color: #000000;
    padding-top: 10px;
    padding-right: 30px;
}

.headernewsimg img{
    width: 100%;
    height: 385px;
    object-fit: cover;
}

.grayP {
    font-size: 13px;
    color: black;
    opacity: 0.4;
    margin-bottom: 20px;
}

.buttonNiigem {
    background: rgb(205, 30, 37);
    background: linear-gradient(90deg, rgba(205, 30, 37, 1) 0%, rgba(222, 116, 12, 1) 100%);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    color: #FFFFFF;
    width: fit-content;
    border-radius: 100px;
    margin: 0;
    transition-duration: 0.2s;
}

.buttonNiigem:hover {
    transform: scaleX(1.1);
    transform-origin: left center;
}

.icons {
    display: flex;
}

.icontext {
    margin: 0;
    padding-left: 5px;
}

.headershare {
    font-size: 16px;
    display: flex;
    color: black;
    background-color: #f0efef;
    border-radius: 15px;
    padding: 5px 10px;
    align-items: center;
    width: fit-content;
    margin: 0;
    justify-content: space-between;
    transition-duration: 0.4s;
    color: #767676;
    cursor: pointer;
}

.headershare:hover {
    transform: scaleX(1.15);
    transform-origin: left center;
    background-color: white;
}

.headershare:hover svg {
    transform: rotate(30deg);
    transition-duration: 0.4s;
}

.headercomment {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: 15px;
    align-items: center;
    cursor: pointer;
    color: #767676;
}
.hiddenheader{
    display: none;
}
.hiddennews img{
    width: 100%;
    height: 330px;
    object-fit: cover;
    position: relative;
}
.hiddenbuttoncontainer {
    display: flex;
    width: 100%;
}
.hiddenbutton {
    width: 100%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
    color: #ffffff;
    font-weight: 700;
    transition-duration: 0.4s;
    margin-top: -5px;
    cursor: pointer;
}
.hiddenbutton:hover {
    background-color: #0050a4;
}
.hiddenbutton img {
    width: 15px;
    height: 15px;
    padding-right: 5px;
}

.headerinfo {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 50px;
    gap: 15px;
}

.headerinfotext {
    font-size: 14px;
    color: #000000;
    margin-top: 10px;

}

.headerinfoimg {
    height: 175px;
    border-radius: 5px;
}

.headerinfodiv {
    width: 25%;
}

.headerinfoshare {
    display: flex;
    color: #8e8e8e;
    font-size: 13px;
    align-items: center;
    margin-right: 20px;
}

.storyimg {
    height: 235px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.storytitle {
    display: flex;
    align-items: center;
    margin: 0;
}

.storygogo {
    font-size: 26px;
    margin-right: 5px;
}

.storyblue {
    background-color: #00b0f4;
    color: #ffffff;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
}

.storyflex {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}

.storybox {
    width: 100%;
    display: flex;
    height: 235px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.storyboxhidden {
    background-color: transparent;
}

.storybox .storyimg {
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
}

.storybox:hover .storyimg {
    transform: scale(1.1);
}

.storylogo {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 10px;
}

.storytext {
    color: white;
    position: absolute;
    margin-bottom: 5px;
    font-size: 13px;
    bottom: 15px;
    padding: 10px;
}

.storyicon {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.storyview {
    margin: 0;
    font-size: 12px;
}

.date {
    background-color: transparent;
}

.datecontainer {
    display: flex;
    gap: 15px;
}

.datetodaycontainer {
    margin: 15px 0;
}

.datetoday {
    color: #407ce8;
    font-size: 16px;
    font-weight: 740;
    margin: 0;
    padding-bottom: 5px;
    margin-top: 0px;
}

.datediv {
    transition: 0.5s;

}

.datediv:hover {
    transform: translateY(-5px);
}

.datediv:hover .datepicker {
    background-color: #407ce8;
    transition-duration: 0.4s;
}

.datediv:hover .datetext {
    color: #407ce8;
    transition-duration: 0.4s;

}

.datepicker {
    width: 103.81px;
    height: 7px;
    border-radius: 20px;
    background-color: #efefef;
}



.datetext {
    font-size: 13px;
    color: #B7B6B6;
    display: flex;
    justify-content: center;
}

.newscontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.newsbox {
    display: flex;
    gap: 30px;
}

.newsimg {
    flex-shrink: 0;
    width: 30%;
}

.newsimg img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.newstitle {
    font-size: 19px;
    color: #000000;
    margin: 0;

}

.newscontent {
    font-size: 14px;
    color: #888888;
    margin: 10px 0 15px;
}

.newsicons {
    display: flex;
    color: #888888;
    font-size: 14px;
    align-items: center;
}

.newsicontext {
    margin: 0 10px 0;
    color: #888888;
}

.divider {
    flex-shrink: 0;
    background-color: #f5f5f5;
    margin-left: 50px;
    /* background-color: red; */
    height: 3200px;
    width: 2px;
    margin-top: 30px;
}

.breakingnewstopic {
    margin: 50px 0 50px;
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-content: center;
}

.news-right {
    width: 310px;
}

.breakingnewscontainer {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.breakingnewsbox {
    margin-bottom: 20px;
}

.breakingnewsimg img {
    width: 270px;
    height: 170px;
    border-radius: 5px;
}

.breakingnewstitle {
    margin: 10px 0;
    font-size: 15px;

}

.news-left {
    width: 100%;
}

.breakingnewsicons {
    display: flex;
    color: #888888;
    font-size: 12px;
    align-items: center;
}

.breakingnewsicontext {
    margin: 0 5px 0;
    color: #888888;
}

.pollcontainer {
    background-color: #297df0;
    padding: 20px;
    margin-bottom: 30px;
}

.polltitle {
    font-size: 16px;
    margin-bottom: 0 0 20px;
    color: #FFFFFF;
}

.pollpicker {
    display: flex;
    gap: 20px;
}

.pollanswer {
    border: 1px solid #0e70ee;
    background-color: #4389f0;
    width: 575px;
    cursor: pointer;
    padding: 10px 15px;
}

.pollanswer:hover {
    background-color: #39f;

}

.pollpicker p {
    font-size: 14px;
    color: #ffffff;
    margin: 0;
}

.pollresult {
    margin: 10px 0 0;
    color: #ffffff;
    font-size: 14px;
}

.trendnewsbackground {
    background-color: #fcfaf4;
    width: 340px;

}

.trendnewscontainer {
    display: flex;
    flex-direction: column;
    padding: 0 40px 50px;
}


.trendnewstitle {
    color: #000000;
    font-size: 20px;
    margin: 30px 0 20px;
    display: flex;
    align-items: center;
}

.trendnewstitle p {
    margin: 0;
}

.trendnewsbox {
    background-color: #fcfaf4;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed rgba(0, 0, 0, .06);
    overflow: hidden;
    transition: 0.4s;
    cursor: pointer;
}

.trendnewsbox:hover {
    transform: scale(1.1);
}

.trendnewsnumber p {
    font-size: 46px;
    color: #e00034;
    margin: 0 15px 0 0;
    height: fit-content;
}

.trendnewscontent {
    font-size: 14px;
}

.trendnewsicons {
    color: #888888;
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-bottom: 25px;
}

.nextcontainer {
    background-color: #F8f8f8;
    display: flex;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    transition: 1s;
    border: 2px solid #F8f8f8;
}

.nextcontainer:hover {
    background-color: #ffffff;
}

.nextbuttontext {
    font-size: 18px;
    color: #000000;
    margin: 0;
}

.interviewcontainer {
    margin-top: 50px;
    width: 100%;
}

.flexinterview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.interviewmore {
    color: #ffffff;
    font-size: 12px;
    display: flex;
    align-items: center;
    border-top: 1px solid hsla(0, 0%, 100%, .15);
    padding-top: 10px;
    margin-top: 10px;
}

.interviewtopic {
    font-size: 20px;
    color: #000000;
}

.interviewtitle {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}

.interviewbox {
    position: relative;
    width: 48%;
    height: 243px;
    margin-bottom: 14px;
}

.interviewbox img {
    width: 100%;
    height: 243px;
    object-fit: cover;
    border-radius: 5px;
}

.interviewgenre {
    color: #ffffff;
    background-color: #407ce8;
    font-size: 10px;
    padding: 2px 5px;
    margin-bottom: 5px;
    width: fit-content;
    border-radius: 5px;
}

.interviewcontent {
    color: #ffffff;
    font-size: 13px;
    margin: 0;
}

.interviewbig {
    position: relative;
    height: 500px;
    width: 100%;
}

.interviewsmall {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.interviewtitlecontainer {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.interviewcontentcontainer {
    position: absolute;
    bottom: 15px;
    left: 10px;
}

.interviewbig img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.interviewlinkedimg {
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.interviewlinkedimg img {
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
}

.interviewlinkedimg:hover img {
    transform: scale(1.1);
}

.interviewlinkedimg:hover svg {
    transform: translateX(10px);
    transition-duration: 0.4s;
}

.interviewlinkedimg:hover .interviewtitlecontainer {
    opacity: 0.8;
    transition-duration: 0.4s;
}

.interviewlinkedimg:hover .interviewcontentcontainer {
    opacity: 0.8;
    transition-duration: 0.4s;
}

.lifestylecontainer {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.lifestylegogotitle {
    display: flex;
    align-items: center;
    margin: 0;
}

.lifestylegogo {
    font-size: 26px;
    margin-right: 5px;
}

.lifestylebox {
    color: #000000;
    border: 1px solid #f1f1f1;
    width: 100%;
}

.lifestylebox img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}

.lifestyletitle {
    font-size: 16px;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, .03);
    padding-bottom: 20px;
    margin: 0 10px;
}

.tech {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

.techcontainer {
    width: 100%;
    max-width: 1100px;
    margin-bottom: 50px;
}

.techtitlecontainer {
    padding: 10px;
    width: 100%;
}

.techtitle {
    font-size: 16px;
    color: #000000;
    margin: 0;
}

.techbox {
    width: 100%;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}

.techbox img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 5px;
}

.techicons {
    color: #888888;
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, .03);
}

.comic {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.comiccontainer {
    width: 100%;
    max-width: 1100px;
    margin-bottom: 50px;
}

.comictitlecontainer {
    padding: 10px;
    width: 100%;
}

.comictitle {
    font-size: 16px;
    color: #000000;
    margin: 0;
    padding-bottom: 40px;
}

.comicbox {
    width: 100%;
    border: 1px solid #f1f1f1;
}

.comicbox img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.comicicons {
    color: #888888;
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, .03);
}

.backgroundblack {
    background-color: #1a1a1a;
    width: 100%;
}

.videowatch {
    font-size: 18px;
    color: #ffffff;
    margin: 0 0 0 10px;
}

.videocontainer {
    width: 100%;
    max-width: 1100px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.videotitle {
    font-size: 16px;
    color: #FFFFFFCC;
    margin: 0;
}

.videobox {
    width: 22%;
    height: 300px;
}

.videobox img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 5px;
}

.videoicons {
    color: #C6C6C6;
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-top: 10px;
    padding-top: 5px;
}

.videoicontext {
    margin: 0 20px 0 0;
    color: #C6C6C6;
    font-size: 12px;
}

.videotitlecontainer {
    width: 100%;
}

.footerlogo img {
    width: 120px;
    margin-right: 30px;
}

.footerlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.logoandlinks {
    display: flex;
    justify-content: space-between;
}

.footerlinkbox {
    display: flex;
    align-items: center;
    margin: 0 0 10px 30px;
    cursor: pointer;
}

.footerlinkbox img {
    width: 15px;
    height: 20px;
    margin-right: 10px;
}

.footerlinkbox p {
    margin: 0;
    font-size: 15;
}

.footerborder {
    border-top: 1px solid #e5e5e5;
    margin: 30px 0;
}

.footercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footercontainer p {
    font-size: 12px;
    margin: 0;
}

.footericons {
    display: flex;
    justify-content: end;
    color: rgba(0, 0, 0, .2);
    gap: 10px;
    cursor: pointer;
}

.footericons svg:hover {
    color: #000000;
}

.mediahidden {
    background-color: transparent;
}

@media screen and (max-width:960px) {
    .menu {
        display: none;
    }

    .navbar {
        justify-content: flex-start;
        padding: 0;
        margin-bottom: 0;
    }

    .extralinkbox {
        border: 1px solid rgba(0, 0, 0, .06);
        border-radius: 5px;
    }

    .extralinkbox p {
        margin: 0;
    }

    .logo {
        height: 23px;
        margin-right: 0;
    }

    .news-right {
        display: none;
    }

    .divider {
        display: none;
    }

    .storyboxhidden {
        display: none;
    }

    .navbarphone {
        justify-content: space-between;
    }

    .mediahidden {
        display: none;
    }

    .flexinterview {
        flex-direction: column;
    }

    .date {
        display: none;
    }

    .videobox {
        width: 47%;
    }

    .headerinfo {
        display: none;
    }

    .headernews {
        display: none;
    }
    .hiddenheader {
        display: block;
    }
    .headernewstitle {
        position: absolute;
        bottom: 350px;
        width: 100%;
        padding-left: 20px;
    }
    .headertitle {
        color: #ffffff;
        font-size: 18px;
    }
    .buttonNiigem {
        padding: 5px 10px;
    }
    .buttonNiigem:hover {
        padding: 10px 20px;
    }
    .headershare {
        background-color: #2b2b2a;
        color: #c0c1c2;
    }

}

@media screen and (max-width:1100px) {
    .main {
        width: 100%;
        padding: 0 20px;
    }

    .topic {
        width: 100%;
        padding: 0 20px;
    }

    .video {
        width: 100%;
        padding: 0 20px;
    }

    .footer {
        width: 100%;
        padding: 0 20px;
    }
}