@font-face {
    font-family: 'helvetica';
    font-weight: 400;
    src: url(./HelveticaNeueMedium.otf);
}

/* @font-face {
    font-family: 'helvetica';
    font-weight: 500;
    src: url(./HelveticaNeueHeavy.otf);
}

@font-face {
    font-family: 'helvetica';
    font-weight: 300;
    src: url(./HelveticaNeueLight.otf);
} */